In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [4]:
dataset=pd.read_csv("dementia_dataset.csv")
dataset.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034

In [7]:
final_dataset=dataset[["MMSE","Age"]]
final_dataset

     MMSE  Age
0    27.0   87
1    30.0   88
2    23.0   75
3    28.0   76
4    22.0   80
..    ...  ...
368  28.0   82
369  26.0   86
370  30.0   61
371  30.0   63
372  30.0   65

[373 rows x 2 columns]

In [ ]:
for data in final_dataset.columns:
    print(data)

MMSE
Age